<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mapper.BudgetMapper">
    <resultMap type="com.app.dto.BudgetListDto" id="budgetListDto">
        <result column="large_category_id" property="largeCategoryId" />
        <result column="large_category_name" property="largeCategoryName" />
        <result column="budget_amount" property="budgetAmount" />
        <result column="budget_date" property="budgetDate" />
        <result column="expenditure_amount" property="expenditureAmount" />
        <result column="total" property="total" />
    </resultMap>

    <select id="selectTotalIncome" parameterType="com.app.dto.BudgetRequestDto" resultType="String">
        SELECT IFNULL(SUM(i.income_amount),0)
          FROM income i
         WHERE i.user_email=#{email}
           AND i.income_date between #{thisMonthStartDate} AND #{thisMonthEndDate}
    </select>
    <select id="selectThreeMonthAverageExpenditure" parameterType="com.app.dto.BudgetRequestDto" resultType="String">
        SELECT ROUND((IFNULL(SUM(e.card),0)+IFNULL(SUM(e.cash),0))/3)
          FROM expenditure e
         WHERE e.user_email=#{email}
           AND e.expenditure_date BETWEEN #{threeMonthStartDate} AND #{threeMonthEndDate}
    </select>
    <select id="selectLastMonthExpenditure" parameterType="com.app.dto.BudgetRequestDto" resultType="String">
        SELECT IFNULL(SUM(e.card),0)+IFNULL(SUM(e.cash),0)
          FROM expenditure e
         WHERE e.user_email=#{email}
           AND e.expenditure_date BETWEEN #{lastMonthStartDate} AND #{lastMonthEndDate}
    </select>
    <select id="selectBudgetList" parameterType="com.app.dto.BudgetRequestDto" resultMap="budgetListDto">
        SELECT a.large_category_id
             , a.large_category_name
             , a.budget_amount
             , a.expenditure_amount
             , (a.budget_amount-a.expenditure_amount) AS total
          FROM (
                SELECT lc.large_category_id
                     , lc.large_category_name
                     , IFNULL(b.budget_amount,0) AS budget_amount
                     , IFNULL(e.expenditure_amount,0) AS expenditure_amount
                  FROM (
                        SELECT lc.large_category_id
                             , lc.large_category_name
                          FROM large_category lc
                         WHERE lc.category_type='EXP'
                       ) lc
             LEFT JOIN (
                        SELECT b.large_category_id
                             , b.budget_amount
                          FROM budget b
                         WHERE user_email=#{email}
                           AND b.budget_date=#{budgetDate}
                       ) b
                    ON lc.large_category_id = b.large_category_id
             LEFT JOIN (
                        SELECT e.large_category_id
                             , IFNULL(SUM(e.card),0)+IFNULL(SUM(e.cash),0) AS expenditure_amount
                          FROM expenditure e
                         WHERE user_email=#{email}
                           AND e.expenditure_date BETWEEN #{thisMonthStartDate} AND #{thisMonthEndDate}
                      GROUP BY e.large_category_id
                       ) e
                    ON lc.large_category_id = e.large_category_id
               ) a
      ORDER BY FIELD(a.large_category_id,1), a.large_category_id
    </select>
    <select id="selectMonthBudgetExpenditureList" parameterType="com.app.dto.PeriodDto" resultMap="budgetListDto">
        SELECT a.large_category_id
             , a.large_category_name
             , a.total
          FROM (
                SELECT et.large_category_id
                     , '합계' AS large_category_name
                     , bt.total - et.total as total
                  FROM (
                        SELECT 0 AS large_category_id
                             , IFNULL(SUM(t.total),0) AS total
                          FROM (
                                SELECT e.large_category_id
                                     , SUM(e.card)+SUM(e.cash) AS total
                                  FROM expenditure e
                                 WHERE e.user_email=#{email}
                                   AND e.expenditure_date BETWEEN #{startDate} AND #{endDate}
                              GROUP BY e.large_category_id
                               ) t
                       ) et
    INNER JOIN (
                SELECT 0 AS large_category_id
                     , IFNULL(SUM(b.budget_amount),0) AS total
                  FROM budget b
                 WHERE b.user_email=#{email}
                   AND b.budget_date = CONCAT(#{year},#{month})
               ) bt
            ON et.large_category_id = bt.large_category_id
     UNION ALL
        SELECT lc.large_category_id
             , lc.large_category_name
             , IFNULL(b.budget_amount,0) - IFNULL(e.total,0) AS total
          FROM (
                SELECT lc.large_category_id
                     , lc.large_category_name
                  FROM large_category lc
                 WHERE lc.category_type = 'EXP'
               ) lc
     LEFT JOIN (
                SELECT e.large_category_id
                     , SUM(e.card)+SUM(e.cash) AS total
                  FROM expenditure e
                 WHERE e.user_email=#{email}
                   AND e.expenditure_date BETWEEN #{startDate} AND #{endDate}
              GROUP BY e.large_category_id
               ) e
            ON lc.large_category_id = e.large_category_id
     LEFT JOIN (
                SELECT b.large_category_id
                     , b.budget_amount
                  FROM budget b
                 WHERE b.user_email=#{email}
                   AND b.budget_date = CONCAT(#{year},#{month})
               ) b
            ON lc.large_category_id = b.large_category_id
      ORDER BY FIELD(large_category_id,1), large_category_id
               ) a
    </select>
</mapper>