<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mapper.ExcelMapper">
    <resultMap type="com.app.dto.ExpenditureDto" id="expenditureDto">
        <result column="expenditure_id" property="expenditureId" />
        <result column="expenditure_date" property="expenditureDate" />
        <result column="expenditure_description" property="expenditureDescription" />
        <result column="cash" property="cash" />
        <result column="card" property="card" />
        <result column="account_category_id" property="accountCategoryId" />
        <result column="account_category_name" property="accountCategoryName" />
        <result column="large_category_id" property="largeCategoryId" />
        <result column="large_category_name" property="largeCategoryName" />
        <result column="small_category_id" property="smallCategoryId" />
        <result column="small_category_name" property="smallCategoryName" />
        <result column="memo" property="memo" />
    </resultMap>

    <select id="selectExpenditureExcelUploadCategoryId" parameterType="com.app.dto.ExpenditureDto" resultMap="expenditureDto">
        SELECT ac.account_category_id
             , c.large_category_id
             , c.small_category_id
          FROM account_category ac
             , (
                SELECT lc.large_category_id
                     , sc.small_category_id
                  FROM large_category lc
             INNER JOIN small_category sc
                    ON lc.large_category_id = sc.large_category_id
                 WHERE lc.large_category_name = #{largeCategoryName}
                   AND sc.small_category_name = #{smallCategoryName}
               ) c
         WHERE ac.account_category_type = 'WDRL'
           AND ac.account_category_name = #{accountCategoryName}
    </select>
    <select id="selectIncomeExcelUploadCategoryId" parameterType="com.app.dto.IncomeDto" resultMap="expenditureDto">
        SELECT ac.account_category_id
             , lc.large_category_id
          FROM account_category ac
             , large_category lc
         WHERE ac.account_category_type = 'DPST'
           AND ac.account_category_name = #{accountCategoryName}
           AND lc.category_type = 'INC'
           AND lc.large_category_name = #{largeCategoryName}
    </select>
</mapper>